*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0%;
  text-align: center;
  background-color: #ffffff;
}

.logo{
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

header{
  display: flex;
  justify-content: space-around;
  background-color: #000000;
}

.anchor1{
  margin: 1rem;
  color: #ffffff;
  font-size: 2rem;
  align-items: center;
  position: relative;
  top: 80px;
  right: 10rem;
}